div#root{
    margin:10px;
}
.product-table{
    display:grid;
    grid-template-columns: 30px 1fr 60px 120px 1fr;
}

.product-details-wrapper{
    display: grid;
    grid-template-columns: 30px 1fr;
}

.border-1{
    border:1px solid black;
}

.product-table div{
    padding:0.25rem;
}

.data-wrapper .product-table:hover, .product-details-wrapper:hover{
    background: rgba(148, 163, 184, .7);
}

.plus-img{
    width:10px;
    height:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-details{
    padding:1rem;
}